---
interface Props {
    title?: string;
    titleClass?: string;
    class?: string;
}

const { title, titleClass = '', class: className = '' } = Astro.props;
---

<section class={className}>
    {title && <h2 class={titleClass}>{title}</h2>}
    <slot />
</section>
