---
import HotInHereDemo from '../components/HotInHereDemo';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Hot In Here | jomcgi.dev</title>
  </head>
  <body class="m-0 p-0">
    <HotInHereDemo client:load />
  </body>
</html>
